.ride-form-container {
  width: 28vw;
  padding: 1.4rem;
  border-radius: 5px;
  border-style: none;
  background-color: #ffffff;
  margin: 2rem 0rem 0rem 6rem;
  position: relative;
}

.select-input {
  width: 280px;
  border: none;
  border-bottom: 1px solid #a1a1a1;
  outline: none;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input-text {
  color: #a1a1a1;
}
.tag-line {
  color: #a1a1a1;
  font-size: 14px;
}
.time-button {
  width: 85px;
  height: 25px;
  border: 1px solid #9319ff;
  margin: 8px;
  padding-top: 3px;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffac19;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #9319ff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.6rem;
}

.select-input::placeholder {
  color: lightgray;
}

.submit-button {
  color: white;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 35px;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  margin-top: 20px;
  border-style: none;
  background-color: #ffac19;
}
.time-button.active {
  background-color: #9319ff;
  color: white;
}
.from-to-div {
  position: absolute;
  top: 22%;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stop {
  width: 8px;
  height: 8px;
  border-radius: 60px;
  margin: 6px;
  background-color: #e0e0e0;
}

.start-stop {
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 60px;
  background-color: #9319ff;
}

.bi::before {
  color: #9319ff;
  font-size: 18px;
}
.bi-plus::before {
  color: #9319ff;
  font-size: 18px;
  position: absolute;
  right: 30px;
  top: 37px;
}
.next-button {
  color: #9319ff;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

.seat-button {
  width: 40px;
  height: 40px;
  border-style: solid;
  color: #a1a1a1;
  border-width: 1px;
  background-color: white;
  border-radius: 100px;
  text-align: center;
  cursor: pointer;
  padding-top: 7px;
}

.seat-button.active {
  background-color: #9319ff;
  color: white;
}

.stop-group {
  margin: 5px 0px;
}

.stops-div{
  position: relative;
}
.price-text{
  font-size: 2rem;
  font-weight: 600;
  color: black;
}