<div class="home-div">
  <div class="card-container">
    <p class="invite-text">Hey {{userName}}!</p>
    <div class="d-flex justify-content-center">
        <div class="card book-card-color shadow" routerLink="/carpool/book-ride">
          <p>Book a ride</p>
        </div>
        <div class="card offer-card-color shadow" routerLink="/carpool/offer-ride">
          <p>Offer a ride</p>
        </div>
    </div>
  </div>
  <div class="background-image">
    <img class="w-100" src="/assets/carpool/Home.png" alt="">
  </div>
</div>
